* {
    font-family: 'Microsoft Yahei';
    padding: 0;
    margin: 0;
}

/* 关于定位的全局样式 */
.left {
    float: left;
}

.right {
    float: right;
}


.center {
    margin: 0 auto;
}

.relative {
    position: relative;
}

/* 关于字体大小位置与字体颜色的全局样式 */
.text-important {
    color: #1a2a3a;
    font-size: 20px;
}

.text-normal {
    color: #3a4a5a;
    font-size: 16px;
}

.text-info {
    color: #5a6a7a;
    font-size: 12px;
}
.text-bold {
    font-weight: bold;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
/* 一些其它的样式设计 */
.el-col, .el-row {
    overflow-x: hidden;
}
/* 顶部banner下的内容距上的边距 */
.top {
    margin-top: 5%; 
}
/* 设置文本段落在显示时，保留空格和换行 */
.preWrap {
    white-space: pre-wrap;
}